<h2>Edit</h2>

<form ng-submit="updatePlane()">
    <div class="form-group">
      <label for"manufacturer" >Name: </label>
      <input type="text" class="form-control" name="manufacturer" ng-model="plane.name">
    </div>
    <div class="form-group">
      <label for="model">Description: </label>
      <input type="text" class="form-control" name="model" ng-model="plane.description">
    </div>
    <div class="form-group">
      <label for="engines">Age: </label>
      <input type="number" class="form-control" name="engines" ng-model="plane.age">
    </div>
    <div class="form-group">
      <label for="picture">Picture: </label>
      <input type="text" class="form-control" ng-model="plane.picture">
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
