<h2>Edit</h2>

<form ng-submit="updatePlane()">
    <div class="form-group">
      <label for"name" >Name: </label>
      <input type="text" class="form-control" name="manufacturer" ng-model="plane.name">
    </div>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea class="form-control" rows="5" ng-model="plane.description"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Appearance: </label>
      <textarea class="form-control" rows="5" ng-model="plane.appearance"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Personality: </label>
      <textarea class="form-control" rows="5" ng-model="plane.personality"></textarea>
    </div>

    <div class="form-group">
      <label for="engines">Age: </label>
      <input type="number" class="form-control" name="engines" ng-model="plane.age">
    </div>
    <div class="form-group">
      <label for="picture">Picture: </label>
      <input type="text" class="form-control" ng-model="plane.picture">
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
