<h2>Create New Character</h2>

<form ng-submit="addPlane()">
    <div class="form-group">
      <label for"manufacturer" >Name: </label>
      <input type="text" class="form-control" ng-model="plane.name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="model">Description: </label>
      <textarea class="form-control" rows="5" ng-model="plane.description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="model">Appearance: </label>
      <textarea class="form-control" rows="5" ng-model="plane.appearance" placeholder="Appearance"></textarea>
    </div>
    <div class="form-group">
      <label for="model">Personality: </label>
      <textarea class="form-control" rows="5" ng-model="plane.personality" placeholder="Personality"></textarea>
    </div>
    <div class="form-group">
      <label for="engines">Age: </label>
      <input type="number" class="form-control" ng-model="plane.age" placeholder="Age">
    </div>
    <div class="form-group">
      <label for="picture">Picture: </label>
      <input type="text" class="form-control" ng-model="plane.picture" placeholder="Picture URL of character">
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
