<h2>{{ title }}</h2>
<p ng-show="planes"><i>I have {{ planes.length}} characters! B4113r 5t4tu5</i></p>

<p ng-hide="planes">LOADING KILL LA KILL NOW...</p>

<div class="input-group">
  <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
  </span>
</div>

<div ng-repeat="p in planes | filter:searchTerm">
  <h3><strong>{{ p.name }}</strong>, {{ p.age }}</h3>
  <a ng-href="/plane/{{ p._id }}" class="btn btn-primary">Details</a>
</div>
